.contain{
  display: flex;
}

.tabs{
  margin: 15px;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 15px;
  transition: all 0.5s ease-out;
}

.tabs:hover{
  border: solid 1px teal;
  border-radius: 5px;
  color: teal;
}
